.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

  .tag {
    background: #ff6060;
    color: #fff;
    font-size: 14px;
    padding: 4px 20px;
    border-radius: 10px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 10px;
      border-radius: 5px;
      padding: 3px 14px;
    }
  }
}