.logement-info__top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.logement-info__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

@media (max-width: 768px) {
  .logement-info__top {
    flex-direction: column;
    gap: 16px;
  }

  .logement-info__right {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}