.logement-info {
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
  }

  @media (max-width: 768px) {
    &__top {
      flex-direction: column;
      gap: 16px;
    }

    &__right {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}