.host {
  display: flex;
  align-items: center;
  gap: 10px;

  &__name {
    margin: 0;
    color: #ff6060;
    font-size: 18px;
    width: 95px;
    text-align: right;
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    background: #c4c4c4;
  }

  @media (max-width: 768px) {
    &__name {
      font-size: 12px;
      width: 80px;
    }

    &__picture {
      width: 32px;
      height: 32px;
    }
  }
}