.collapses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 76px;
  margin-top: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.equipments {
  margin: 0;
  padding-left: 18px;

  li {
    list-style: none;
    margin: 4px 0;
  }
}