.kasa-header {
  padding: 30px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 68px;
    width: auto;
  }

  &__nav {
    display: flex;
    gap: 48px;
  }

  @media (max-width: 768px) {
    padding: 20px 0;

    &__logo {
      height: 46px;
    }

    &__nav {
      gap: 20px;
    }
  }
}

.kasa-link {
  color: #000;
  text-decoration: none;
  font-size: 18px;

  &--active {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    text-transform: uppercase;
  }
}