.kasa-footer {
  background: #000;
  padding: 60px 0;
  margin-top: 60px;
}

.kasa-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.kasa-footer__logo {
  height: 40px;
  width: auto;
}

.kasa-footer__text {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

@media (max-width: 768px) {
  .kasa-footer__text {
    font-size: 12px;
    width: 140px;
    text-align: center;
  }
}