.kasa-footer {
  background: #000;
  padding: 60px 0;
  margin-top: 60px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  &__logo {
    height: 40px;
    width: auto;
  }

  &__text {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }

  @media (max-width: 768px) {
    &__text {
      font-size: 12px;
      width: 140px;
      text-align: center;
    }
  }
}