.banner {
  position: relative;
  height: 223px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__text {
    position: absolute;
    inset: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
  }

  @media (max-width: 768px) {
    height: 111px;
    border-radius: 10px;

    &__text {
      font-size: 24px;
      text-align: left;

      width: 100%;
      padding: 0 16px;
    }
  }
}